* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
 }


.no-border{
  border: black 0px solid;
}
.no-left-margin{
  margin-left: 0px!important;
}
.no-margin{
  margin: 0 0 0 0;
}

.montserrat{
  font-family: Montserrat, sans-serif;
}

h1{
  font-size: 26px;
  font-family: Helvetica, sans-serif;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight:400;
  border-bottom: 1px solid rgb(196, 196, 196);
}

h2{
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  line-height: 150%;
  font-weight: normal;
}

h3{
  line-height: 150%;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(196, 196, 196);
  font-size: 19px;
}

h4{
  line-height: 150%;
  font-weight: normal;
}

span{
  font-size: 10px;
  color: rgb(67, 92, 146);
}

p{
  line-height: 150%;
}

nav{
  margin: auto;
  padding-left: 3%;
  padding-right: 3%;
  max-width: 1270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  font-family: Helvetica, sans-serif;
}


.border-container{
  max-width: 1270px;
  margin: auto;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
}

.border{
  width: 100%;
  margin: auto;
  border-bottom: 1px solid rgb(196, 196, 196);
}

#group-logo{
  width: 300px;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  text-transform: uppercase;
  flex-shrink: 1;
}

.nav-links a{
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 14px;
}

.nav-links ul, .nav-links li{
  list-style-type: none;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  color: black;
  background-color: black;
  margin: 5px;
}

.footer-container{
  max-width: 1270px;
  margin: auto;
  padding-left: 3%;
  padding-right: 3%;
}

.footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 8vh;
  align-items: center;
  margin: auto;
  border-top: 1px solid rgb(196, 196, 196);
}
.footer h5{
  font-weight: normal;
}

.nav-active{
  transform: translateX(0%);
}



.my-body{
display: flex;
justify-content: center;
min-height: 85vh;
}

.home-page{
  margin: auto;
  max-width: 1270px;
  display: flex;
  justify-content: center;
  padding: 1.5%;


}

.left-card{
  width: 70%;
  margin: 1.5% 1.5% 1.5% 2.5%;
  overflow-x: hidden;
  height: auto;
  position: relative;
  clear: both;
  content: "";
  display: table;
}

.banner-container{
  overflow: hidden;
}

.banner{
  display: flex;
  width: 100%;
  height: 380px;
}

.banner, img{
  width: 100%;
  z-index: 100;
}




.right-card{
  width: 24%;
  margin: 1.5% 2.5% 1.5% 1.5%;
  overflow-x: hidden;
  flex-shrink: 3;
}

.g-info{
  padding: 1.5%;
}



.research-interests{
  transform: translateX(20px);
}

.home-text ul{
  display: list-item;
  list-style-type: disc;
  line-height: 150%;
}

.home-text ul li a{
  font-family: Montserrat, sans-serif;
}

.home-text h1{
  margin-top: 2.5%;
}

.right-card h3{
  margin-top: 3%;
  margin-bottom: 3%;
}

.right-card img{
  width: 90%;
}


.bio-page{
  margin: auto;
  width: 1270px;
  flex-shrink: 1;
  display: flex;
  justify-content: left;
  padding: 1.5%;
  flex-direction: column;
}

.bio-card{
  width: 100%;
  text-align: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
}



.bio-text{
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 1.5%;
  text-align: justify;
  font-family: Montserrat, sans-serif;
}
.bio-george{
  float: left;
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 25%;
  min-width: 225px;
}



.blog-page{
  margin: auto;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin: 1.5%;
}
.blog-intro{
  margin: 1.5% 0 1.5% 1.5%;
}
.blog-intro h4{
  font-family: Montserrat, sans-serif;
}

.blog-post{
  border-top: 1px solid rgb(196, 196, 196);
  margin: 1.5%;
  width: 97%;
}

.blog-date{
  color: grey;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.blog-title{
  font-size: 32px;
  font-weight: bolder;
}
.blog-cover{
  width: 40%;
}

.blog-content{
  padding-top: 1.5%;
}

.team-page{
  margin: auto;
  width: 1270px;
  flex-shrink: 1;
  display: flex;
  justify-content: left;
  padding: 1.5%;
  flex-direction: column;
}
#team-h4{
  font-family: Montserrat, sans-serif;
}
.team-page a{
  text-decoration: none;
  color: black;
}
.team-header{
  margin: 1.5% 1.5% 0% 1.5% ;
 
}
.team-pi h1{
  padding: 1.5%;
}

.member-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.team-card{
  width: 100%;
  cursor: pointer;
}
.george-card{
  width: 100%;
  padding: 1.5%;
  cursor: pointer;
}
.team-pic{
  width: 180px;
}
.team-page h2{
  font-size: 24px;
  padding-top: 1.5%;
  padding-left: 1.5%;
}

.team-form{
  width: 180px;
  margin: 1.5%;
}

.member-page{
  margin: auto;
  width: 1270px;
  flex-shrink: 1;
  display: flex;
  justify-content: left;
  padding: 1.5%;
  flex-direction: column;
}
.member-pic{
  width: 25%;
  margin: 1.5%;
}
.member-details{
  display: flex;
}
.member-details h4{
  margin: 1.5%;
}

.research-page{
  display: flex;
  flex-direction: column;
}
.research-header{
  margin: 3% 1.5% 0% 3% ;
  display: block;
}
.research-cols{
  margin: 0 auto auto auto;
  max-width: 1270px;
  flex-shrink: 1;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding: 0% 1.5% 1.5% 1.5% ;
}
.research-card{
  width: 390px;
  margin: 3%;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  justify-content: left;
}

.research-title{
  display: flex;
  justify-content: left;
  margin: 1.5% 1.5% 1.5% 0;
  height: 56px;
}

.research-desc{
  padding: 1.5%;
  font-size: 14px;
}
.research-desc h4{
}



.contact-page{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 1.5% auto auto auto;
  width: 1270px;
  min-height: 82vh;
  flex-shrink: 1;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

.contact-page p{
  line-height: 150%;
  margin-top: 1.5%;
}

.george-twitter{
  padding: 1.5%;
}

.padding{
  padding: 1.5%;
}



#resources-page{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 1.5% auto auto auto;
  min-height: 85vh;
  width: 100%;
}

.formatter-page{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 1.5% auto auto auto;
  min-height: 85vh;
  width: 100%;
  flex-basis: 50vw;
}

#res-title{
  margin-left: 3%;
}
#res-grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#res-grid a{
  width: 246px;
  margin: 3%;
  text-decoration: none;
  color: black;
}
.res-card{
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
}
.res-image{
  width:100%
}
.res-text{
  height: 80px;
  display: flex;
  align-items: center;

}



.array-tools{
  width: 100%;
}

.seq-form{
  width: fit-content;
}
.sequence-studies-page{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 1.5% auto auto auto;
  width: 1270px;
  min-height: 82vh;
  flex-shrink: 1;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

.seq-form h1{
  font-size: 24px;
}
.sequence-studies-page h1{
  margin-top: 3%;
  margin-bottom: 3%;
}

.seq-list{
  text-decoration: none;
  list-style-type: none;
}

.sequence-studies-page input{
  margin-top: 3%;
  margin-bottom: 3%;
}

.seq-entry{
  width: 200px;
}

.ss-result-page{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  margin: 1.5% auto auto auto;
  width: 1270px;
  min-height: 82vh;
  flex-shrink: 1;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}
.ss-result-page p{
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

.copy-button{
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.align-body{
  width: 100vw;
  height: 100vh;
  overflow:hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.align-canvas{
  border: 1px grey solid
}

.fig-hidden{
  position: absolute;
  left: -200%;
}
#arrayId{
  width: auto;
}

.test1{
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  top: 30px;
}

.rectangle{
  background-size: 100% 100%;
}


.resize-handle-se {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    background: rgba(0, 78, 97, 0.4);
    z-index: 999;
}

.align-form{
  display: block;
}

.fig-results-body{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 95vh;
  overflow-y: scroll;
  justify-content: space-around;
  padding: 3%;
}
.results-strip{
  width: 20%;
  height: 60vh;
  display: flex;
}
.results-strip img{
  max-width: 4vh;
}

#stage-placeholder{
  display: flex;
}
#stage-placeholder img{
  z-index: 0;
}



#stage img {
  position: absolute;
  transition: opacity .5s ease-in;
}

#stage img + img { opacity: 0; }

.blog-item{
  padding: 1.5% 1.5% 1.5% 0;
  margin-left: 1.5%;
  border-bottom: 1px solid rgb(196, 196, 196)
}
.blog-item-cols{
  display: flex;
  justify-content: space-between;
}
.blog-item-right{
  width: 60%;
}
.blog-item-cover{
  size:100%
}
.blog-item-title{
  color: rgb(109, 209, 255);
}
.blog-item-date{
  letter-spacing: 2px;
  text-transform: uppercase;
  color: grey;
}
.blog-item-left{
  width: 35%;
}



.blog-item-index{
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-bottom: 1px solid rgb(196, 196, 196)
}
.blog-item-cols-index{
  justify-content: left;
  display: flex;
}
.blog-item-left-index{
  width: 20%;
  margin-right: 2.5%;
}
.blog-item-right-index{
  width: 60%;
}

.blog-item-anchor{
  text-decoration: none;
  color: black;
  z-index: 100;
}
.blog-item-anchor:hover{
  color: grey;
}

.button {
  display: block;
  width: 115px;
  height: 25px;
  background: #001aff;
  padding: 0px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  text-decoration: none;
}
.button:hover{
  background: rgb(128, 128, 128);
}

.contact-page p{
  font-family: Montserrat, sans-serif;
}




/*specifics*/
@media (min-width: 992px) and (max-width: 1126px) {
  .nav-links{
    width: 58%;
  }
}

@media (max-width: 925px) {
  .body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .burger {
    display: block;
  }
  .research-card{
    width: 43%;
  }
}



@media (max-width: 576px) {
  .home-text h1{
    margin-top: 4%;
  }
  .team-form{
    width: 80%;
  }
  .george-card{
    width: 80%;
    padding: 0%;
    margin: 1.5%;
  }
  .team-pic{
    width:100%;
  }
}
@media (max-width: 768px) {
  .right-card{
    display: none;
  }
  .left-card{
    width: 97%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .team-form{
    width: 40%;
  }
  .george-card{
    width: 40%;
    padding: 0%;
    margin: 1.5%;
  }
  .team-pic{
    width:100%;
  }
}
@media (max-width: 992px) {
  .nav-links{
    width: 62%;
  }
  .bio-george{
    float: none;
    margin-bottom: 1.5%;
    width: 300px;
    min-width: 300px;
  }
}
@media (max-width: 1200px) {

}


@media (max-width: 1070px) {
  h1{
    font-size: 25px;
  }
  h2{
    font-size: 14px;
  }
  h3{
    font-size: 18px;
  }
}

@media (min-width: 816px) and (max-width: 940px) {
  .right-card{
    width: 29%;
  }
  
  .left-card{
    width: 65%;
  }
}
@media (min-width: 768px) and (max-width: 816px) {
  .right-card{
    width: 31%;
  }
  
  .left-card{
    width: 63%;
  }
}

@media (max-width: 700px) {
  .research-card{
    width: 390px;
  }
}

@media (max-width: 700px) {
  .blog-item-cols{
    flex-direction: column;
  }
  .blog-item-left, .blog-item-right{
    width: 100%;
  }
  .blog-item{
    padding: 5% 1.5% 5% 0;

  }
}

.test-font{
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  margin: 1.5%;
}

.vis-div{
  display: none;
  width: 3px;
  height: 3px;
  background-color: fuchsia;
}