{% extends 'lab/base2.html' %}
{% load static %}
{% block content %}
 

<div class='panel-welcome'>
    <div class='subpanel-centre'>
        <h1>Welcome to the 
            <br>Baillie Group.</h1>
        <p>We are using a range of biochemical and molecular biology techniques to uncover molecular mechanisms and develop cutting edge therapies.</p>
    </div>
</div>

<div class='panel-george'>
    <div class='subpanel-george'>
        <div class='subpanel-george-left'>
            <img src="{% static 'lab/george.jpg'%}"  id="" alt="">
        </div>
        <div class='subpanel-george-right'>
            <h2>Prof. George Baillie </h2>
            <p>Principle Investigator</p><br>
            <p>Filler  fill fills filled fillerfill fills filled fillerfill fills filled fillerfill fills filled fillerfill fills filled fillerfill fills filled fillerfill fills filled filler.</p>
        </div>
    </div>
</div>

<div class='panel-res'>
    <div class='subpanel-res-left'>
        <div class='text-card'>
            <h2>Phosphodiesterases </h2>
            <p>Filler  fill fills filled fillerfill fills filled fillerfill fills filled fillerfill fills filled fillerfill fills filled fillerfill fills filled fillerfill fills filled filler.</p>
        </div>
    </div>
    <div class='subpanel-res-right'>
        <div class='text-card'>
            <h2>Peptide Drug Discovery </h2>
            <p>Filler  fill fills filled fillerfill fills filled fillerfill fills filled fillerfill fills filled fillerfill fills filled fillerfill fills filled fillerfill fills filled filler.</p>
        </div>
    </div>
</div>

<div class='panel-team'>
    <div class='subpanel-team-grad'>
        <div class='uni-logo'>
            <img src="{% static 'lab/uni-logo.png'%}"  id="" alt="">
        </div>
    </div>
</div>


{% endblock %}