{% extends 'lab/base2.html' %}
{% load static %}
{% block content %}



<div id="member-page" >
    <div id='member-panel'>

        <div id='member-subpanel-left'>
            <img src='{{ my_model.profile.url }}'>
        </div>

        <div id='member-subpanel-right'>
            <div id='member-name'>
                <h1>{{ my_model.name }}</h1>
            </div>
            <div id='member-title'>
                <h4>{{ title }}</h4>
            </div>
            <div id='member-bio'>
                <p>{{ my_model.bio }}</p>
            </div>
            {% for handle in handle_list %}
            <h5> {{handle}} <h5>
            {% endfor %}
            <!-- 
            <div id='member-handles'>
                <h3>{{ my_model.handles }}</h3>
            </div>
            -->
        </div>

    </div>
</div>

{% endblock %}