{% extends 'lab/base2.html' %}
{% load static %}
{% block content %}
 
 <div id="resources-page">

    <div id='res-header'>
        <h2>Tom's Resources</h2>
    </div>
    
    <div id='res-grid'>
        <a href="{% url 'lab:sequence_studies' %}">
            <div class='res-card'>
                <div class='res-pic'>
                    <img src="{% static '/lab/array-uv.jpg'%}" class="" id="">
                </div>
                <div class='res-text'>
                    <h5>Peptide Arrays: Sequence Studies</h5>
                </div>
            </div>
        </a>

        <a href="{% url 'lab:resources_2' %}">
            <div class='res-card'>
                <div class='res-pic'>
                    <img src="{% static 'lab/strip_cover_square.png'%}" class="" id="">
                </div>
                <div class='res-text'>
                    <h5>Peptide Arrays: Figure Strip Generator</h5>
                </div>
            </div>
        </a>

        <!--<a href="{% url 'lab:formatter' %}">
            <div class='res-card'>
                <div class='res-pic'>
                    <img src="{% static 'lab/reformatter.jpg'%}" class="" id="">
                </div>
                <div class='res-text'>
                    <h5>Peptide Arrays: Data Formatter</h5>
                </div>
            </div>
        </a>-->

        <a href="{% url 'lab:wheel_upload' %}">
            <div class='res-card'>
                <div class='res-pic'>
                    <img src="{% static 'lab/wheel.png'%}" class="" id="">
                </div>
                <div class='res-text'>
                    <h5>Helix Wheel Heatmaps</h5>
                </div>
            </div>
        </a>

        <a href="{% url 'lab:signal' %}">
            <div class='res-card'>
                <div class='res-pic'>
                    <img src="{% static 'lab/reformatter.jpg'%}" class="" id="">
                </div>
                <div class='res-text'>
                    <h5>Measure Signal</h5>
                </div>
            </div>
        </a>

        <a href="{% url 'lab:sd_upload' %}">
            <div class='res-card'>
                <div class='res-pic'>
                    <img src="{% static 'lab/reformatter.jpg'%}" class="" id="">
                </div>
                <div class='res-text'>
                    <h5>Array Strips and Graphs</h5>
                </div>
            </div>
        </a>

    </div>
</div>

{% endblock %}